openapi: 3.1.0
info:
  contact:
    email: support@censys.io
    name: Censys Support
  description: '# Asset Graph API


    The Asset Graph API provides comprehensive visibility into your Internet-facing assets. Use this API to build and manage attack surfaces by creating asset graphs, configuring seeds and exclusions, running discovery executions, and retrieving discovered assets and risk metadata.


    ### Authentication


    All requests must include a valid Censys personal access token (PAT) in the `Authorization` header:


    ```

    Authorization: Bearer <your-api-token>

    ```


    An `X-Organization-ID` header must also be present on every request. This identifies the Censys organization that owns the resources being accessed.


    ```

    X-Organization-ID: <your-organization-id>

    ```


    ### Core Concepts


    - **Asset Graph**: The parent resource representing an attack surface. Each asset graph contains seeds, excluded assets, and executions.

    - **Seeds**: Persistent starting points used to discover additional assets. Supported types include IP addresses, domains, CIDRs, ASNs, certificates, and web properties.

    - **Excluded Assets**: Assets explicitly excluded from the graph. Excluded assets will not appear in execution results and will not be used to discover additional assets.

    - **Executions**: A discovery process that uses the graph''s configured seeds and excluded assets to generate a complete snapshot of the attack surface. Censys periodically runs executions in the background, or they can be triggered on-demand.

    - **Assets**: Internet-facing resources discovered during an execution, including hosts, domains, certificates, and web properties. Each asset includes discovery paths showing how it was found from your seeds.

    - **Risks**: Vulnerabilities, exposures, misconfigurations, and threats identified on discovered assets.


    ### Getting Started


    1. **Create an asset graph** to represent your attack surface.

    2. **Add seeds** — the known assets that Censys will use as starting points for discovery.

    3. **Optionally add excluded assets** to omit specific assets from results.

    4. **Create an execution** to trigger the discovery process, or wait for Censys to run one automatically.

    5. **List assets** from a completed execution to view your discovered attack surface.

    6. **Look up risk metadata** for any risk IDs found on your assets.

    '
  title: Asset Graph Account Management Tags and Comments API
  version: 1.0.12
servers:
- description: Asset Graph API
  url: https://graph.data.censys.io
tags:
- description: Endpoints related to asset tagging and commenting
  name: Tags and Comments
paths:
  /v3/comments:
    get:
      description: Retrieve a paginated list of comments in your organization. Use query parameters to filter by asset, creator, or creation time.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-comments-list-comments
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: Number of comments to return per page.
        explode: false
        in: query
        name: page_size
        schema:
          default: 100
          description: Number of comments to return per page.
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Pagination token from a previous response to retrieve the next page of results.
        explode: false
        in: query
        name: page_token
        schema:
          description: Pagination token from a previous response to retrieve the next page of results.
          type: string
      - description: 'Sort order. Supported values: create_time_asc, create_time_desc.'
        explode: false
        in: query
        name: order_by
        schema:
          default: create_time_desc
          description: 'Sort order. Supported values: create_time_asc, create_time_desc.'
          enum:
          - create_time_asc
          - create_time_desc
          type: string
      - description: Filter comments by asset identifier (host IP, certificate fingerprint, or web property hostname:port).
        explode: false
        in: query
        name: asset_id
        schema:
          description: Filter comments by asset identifier (host IP, certificate fingerprint, or web property hostname:port).
          type: string
      - description: Filter comments by the user ID of the user who created the comment.
        explode: false
        in: query
        name: created_by
        schema:
          description: Filter comments by the user ID of the user who created the comment.
          format: uuid
          type: string
      - description: Filter comments created before this RFC3339 timestamp.
        explode: false
        in: query
        name: created_before
        schema:
          description: Filter comments created before this RFC3339 timestamp.
          format: date-time
          type: string
      - description: Filter comments created after this RFC3339 timestamp.
        explode: false
        in: query
        name: created_after
        schema:
          description: Filter comments created after this RFC3339 timestamp.
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeCommentsList'
          description: Comments retrieved successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys List Comments
      tags:
      - Tags and Comments
      x-speakeasy-name-override: ListComments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Add a comment on an asset in your organization.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-comments-create-comment
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentInputBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeComment'
          description: Comment created successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Create a Comment
      tags:
      - Tags and Comments
      x-speakeasy-name-override: CreateComment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/comments/{comment_id}:
    delete:
      description: Delete a comment. Only the comment's creator or an organization admin can delete a comment. This action is permanent and cannot be undone.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-comments-delete-comment
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the comment to delete.
        in: path
        name: comment_id
        required: true
        schema:
          description: The ID of the comment to delete.
          format: uuid
          type: string
      responses:
        '204':
          description: Comment deleted successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Comment not found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Delete a Comment
      tags:
      - Tags and Comments
      x-speakeasy-name-override: DeleteComment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Update the body of an existing comment. Only the comment's creator can update it.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-comments-update-comment
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the comment to update.
        in: path
        name: comment_id
        required: true
        schema:
          description: The ID of the comment to update.
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommentInputBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeComment'
          description: Comment updated successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Comment not found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Update a Comment
      tags:
      - Tags and Comments
      x-speakeasy-name-override: UpdateComment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/tags:
    get:
      description: Retrieve a paginated list of tags in your organization. Private tags created by other users are not included in the results unless your account is an organization admin.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-tags-list-tags
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: Number of tags to return per page.
        explode: false
        in: query
        name: page_size
        schema:
          default: 100
          description: Number of tags to return per page.
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Pagination token from a previous response to retrieve the next page of results.
        explode: false
        in: query
        name: page_token
        schema:
          description: Pagination token from a previous response to retrieve the next page of results.
          type: string
      - description: 'Sort order. Supported values: name_asc, name_desc, created_at_asc, created_at_desc, updated_at_asc, updated_at_desc.'
        explode: false
        in: query
        name: order_by
        schema:
          default: name_asc
          description: 'Sort order. Supported values: name_asc, name_desc, created_at_asc, created_at_desc, updated_at_asc, updated_at_desc.'
          enum:
          - name_asc
          - name_desc
          - created_at_asc
          - created_at_desc
          - updated_at_asc
          - updated_at_desc
          type: string
      - description: Filter tags by name (exact match).
        explode: false
        in: query
        name: name
        schema:
          description: Filter tags by name (exact match).
          type: string
      - description: Filter tags by the user ID of the user who created the tag.
        explode: false
        in: query
        name: created_by
        schema:
          description: Filter tags by the user ID of the user who created the tag.
          format: uuid
          type: string
      - description: Filter tags by privacy setting.
        explode: false
        in: query
        name: privacy
        schema:
          description: Filter tags by privacy setting.
          enum:
          - private
          - shared
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeTagsList'
          description: Tags retrieved successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys List Tags
      tags:
      - Tags and Comments
      x-speakeasy-name-override: ListTags
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'Create a new tag in your organization. Tags can be used to label and organize assets.<br><br>Specify a privacy setting to control visibility: `private` tags are only visible to you and organization admins, while `shared` tags are visible and manageable by all organization members.<br><br>Tag names must be unique within your organization.<br><br>This endpoint does not cost any credits to execute.'
      operationId: v3-tags-create-tag
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagInputBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeTag'
          description: Tag created successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '409':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag name already exists in this organization
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Create a Tag
      tags:
      - Tags and Comments
      x-speakeasy-name-override: CreateTag
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/tags/{tag_id}:
    delete:
      description: Delete a tag and all of its assignments from your organization. This action is permanent and cannot be undone.<br><br>Only the tag's creator or an organization admin can delete a `private` tag. Tags that are `shared` can be deleted by any organization member.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-tags-delete-tag
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the tag to delete.
        in: path
        name: tag_id
        required: true
        schema:
          description: The ID of the tag to delete.
          format: uuid
          type: string
      responses:
        '204':
          description: Tag deleted successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag not found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Delete a Tag
      tags:
      - Tags and Comments
      x-speakeasy-name-override: DeleteTag
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: 'Retrieve a tag by its ID or name. Tag names are unique within an organization and can be used interchangeably with the tag ID in the path parameter.<br><br>Only tags that are visible to the caller are returned: private tags created by other users are not accessible unless your account is an organization admin.<br><br>This endpoint does not cost any credits to execute.'
      operationId: v3-tags-get-tag
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID or name of the tag to retrieve.
        example: 123e4567-e89b-12d3-a456-426614174000
        in: path
        name: tag_id
        required: true
        schema:
          description: The ID or name of the tag to retrieve.
          examples:
          - 123e4567-e89b-12d3-a456-426614174000
          - my-tag
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeTag'
          description: Tag retrieved successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag not found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Get a Tag
      tags:
      - Tags and Comments
      x-speakeasy-name-override: GetTag
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Update an existing tag in your organization. Only the fields provided in the request body will be updated; omitted fields are left unchanged.<br><br>Only the tag's creator or an organization admin can update a `private` tag. Tags with the `shared` setting can be updated by any organization member.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-tags-update-tag
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the tag to update.
        in: path
        name: tag_id
        required: true
        schema:
          description: The ID of the tag to update.
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagInputBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeTag'
          description: Tag updated successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag not found
        '409':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag name already exists in this organization
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Update a Tag
      tags:
      - Tags and Comments
      x-speakeasy-name-override: UpdateTag
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/tags/{tag_id}/assignments:
    get:
      description: Retrieve a paginated list of assignments for a tag in your organization. Use query parameters to filter results by asset, created_by, or creation time. Only assignments for tags visible to your account are returned.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-tags-list-assignments
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the tag whose assignments to list.
        in: path
        name: tag_id
        required: true
        schema:
          description: The ID of the tag whose assignments to list.
          format: uuid
          type: string
      - description: Number of assignments to return per page.
        explode: false
        in: query
        name: page_size
        schema:
          default: 100
          description: Number of assignments to return per page.
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Pagination token from a previous response to retrieve the next page of results.
        explode: false
        in: query
        name: page_token
        schema:
          description: Pagination token from a previous response to retrieve the next page of results.
          type: string
      - description: 'Sort order. Supported values: create_time_asc, create_time_desc.'
        explode: false
        in: query
        name: order_by
        schema:
          default: create_time_desc
          description: 'Sort order. Supported values: create_time_asc, create_time_desc.'
          enum:
          - create_time_asc
          - create_time_desc
          type: string
      - description: The identifier of the asset (host IP, certificate SHA-256 fingerprint, or web property hostname:port).
        example: 8.8.8.8
        explode: false
        in: query
        name: asset_id
        schema:
          description: The identifier of the asset (host IP, certificate SHA-256 fingerprint, or web property hostname:port).
          examples:
          - 8.8.8.8
          - 3daf2843a77b6f4e6af43cd9b6f6746053b8c928e056e8a724808db8905a94cf
          - platform.censys.io:443
          type: string
      - description: RFC3339 timestamp. Only return assignments created before this time.
        explode: false
        in: query
        name: created_before
        schema:
          description: RFC3339 timestamp. Only return assignments created before this time.
          format: date-time
          type: string
      - description: RFC3339 timestamp. Only return assignments created after this time.
        explode: false
        in: query
        name: created_after
        schema:
          description: RFC3339 timestamp. Only return assignments created after this time.
          format: date-time
          type: string
      - description: Filter by the user ID of the user who created the assignment.
        explode: false
        in: query
        name: created_by
        schema:
          description: Filter by the user ID of the user who created the assignment.
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeTagAssignmentsList'
          description: Tag assignments retrieved successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag not found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys List Tag Assignments
      tags:
      - Tags and Comments
      x-speakeasy-name-override: ListTagAssignments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Assign a tag to an asset. Tag assignments are only visible to members of your organization, depending on the tag's privacy settings. You must have access to the tag to assign it to an asset.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-tags-create-assignment
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the tag to assign.
        in: path
        name: tag_id
        required: true
        schema:
          description: The ID of the tag to assign.
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagAssignmentInputBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelopeTagAssignment'
          description: Tag assignment created successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag not found
        '409':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag assignment already exists for this asset
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Create a Tag Assignment
      tags:
      - Tags and Comments
      x-speakeasy-name-override: CreateTagAssignment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/tags/{tag_id}/assignments/{assignment_id}:
    delete:
      description: Remove a tag assignment from an asset. This action is permanent and cannot be undone. Removing an assignment only detaches the tag from the specified asset; the tag itself is not deleted. Only the tag's creator or an organization admin can delete an assignment for a `private` tag. Assignments for `shared` tags can be deleted by any organization member.<br><br>This endpoint does not cost any credits to execute.
      operationId: v3-tags-delete-assignment
      parameters:
      - description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
        example: 11111111-2222-3333-4444-555555555555
        explode: false
        in: query
        name: organization_id
        required: true
        schema:
          description: The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information.
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
      - description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
        example: 11111111-2222-3333-4444-555555555555
        in: header
        name: X-Organization-ID
        schema:
          description: 'The ID of a Censys organization to associate the request with. See the [Getting Started docs](https://docs.censys.com/reference/get-started#step-3-find-and-use-your-organization-id-optional) for more information. Note: The header parameter is supported for atypical use cases; we recommend always providing this field via the query parameter.'
          examples:
          - 11111111-2222-3333-4444-555555555555
          format: uuid
          type: string
        x-speakeasy-ignore: true
      - description: The ID of the tag.
        in: path
        name: tag_id
        required: true
        schema:
          description: The ID of the tag.
          format: uuid
          type: string
      - description: The ID of the assignment to delete.
        in: path
        name: assignment_id
        required: true
        schema:
          description: The ID of the assignment to delete.
          format: uuid
          type: string
      responses:
        '204':
          description: Tag assignment deleted successfully
          headers:
            Content-Type:
              schema:
                type: string
            X-Request-ID:
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          description: Request does not contain a valid Authorization token
        '403':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: User does not have permission to access this data
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Tag or assignment not found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Invalid input
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal server error
      security:
      - PersonalAccessToken: []
      summary: Censys Delete a Tag Assignment
      tags:
      - Tags and Comments
      x-speakeasy-name-override: DeleteTagAssignment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ResponseEnvelopeTagAssignment:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/TagAssignment'
      type: object
    CreateTagInputBody:
      additionalProperties: false
      properties:
        description:
          description: A human-readable description of the tag.
          maxLength: 1000
          type: string
        name:
          description: The display name of the tag. Must be unique within the organization.
          maxLength: 255
          minLength: 1
          type: string
        privacy:
          description: Tag visibility and management settings. `private` tags are only visible to and editable by organization admins. `shared` tags are visible to and editable by all organization members.
          enum:
          - private
          - shared
          type: string
      required:
      - name
      - privacy
      type: object
    CreateCommentInputBody:
      additionalProperties: false
      properties:
        asset_id:
          description: The identifier of the asset (host IP, certificate SHA-256 fingerprint, or web property hostname:port).
          examples:
          - 8.8.8.8
          - 3daf2843a77b6f4e6af43cd9b6f6746053b8c928e056e8a724808db8905a94cf
          - platform.censys.io:443
          type: string
        body:
          description: The comment body text.
          maxLength: 10000
          minLength: 1
          type: string
      required:
      - asset_id
      - body
      type: object
    Tag:
      additionalProperties: false
      properties:
        created_at:
          description: RFC3339 timestamp when the tag was created.
          format: date-time
          type: string
        created_by:
          description: The user ID of the user who created the tag.
          format: uuid
          type: string
        description:
          description: A human-readable description of the tag.
          type: string
        id:
          description: The unique ID of the tag.
          format: uuid
          type: string
        name:
          description: The display name of the tag.
          type: string
        privacy:
          description: Tag visibility and management settings. `private` tags are only visible to and editable by organization admins. `shared` tags are visible to and editable by all organization members.
          enum:
          - private
          - shared
          type: string
        updated_at:
          description: RFC3339 timestamp when the tag was last updated.
          format: date-time
          type: string
      required:
      - id
      - name
      - privacy
      - created_at
      - updated_at
      - created_by
      type: object
    ResponseEnvelopeComment:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/Comment'
      type: object
    ResponseEnvelopeCommentsList:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/CommentsList'
      type: object
    UpdateTagInputBody:
      additionalProperties: false
      properties:
        description:
          description: New description.
          maxLength: 1000
          type: string
        name:
          description: New display name. Must be unique within the organization.
          maxLength: 255
          minLength: 1
          type: string
        privacy:
          description: Tag visibility and management settings. `private` tags are only visible to and editable by organization admins. `shared` tags are visible to and editable by all organization members.
          enum:
          - private
          - shared
          type: string
      type: object
    ResponseEnvelopeTag:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/Tag'
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    ResponseEnvelopeTagAssignmentsList:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/TagAssignmentsList'
      type: object
    TagAssignment:
      additionalProperties: false
      properties:
        asset_id:
          description: The identifier of the tagged asset (host IP, certificate SHA-256 fingerprint, or web property domain/IP:port).
          type: string
        asset_type:
          description: The inferred type of the asset.
          enum:
          - host
          - certificate
          - web_property
          - unknown
          type: string
        created_at:
          description: RFC3339 timestamp when the assignment was created.
          format: date-time
          type: string
        created_by:
          description: The user ID of the user who created the assignment.
          format: uuid
          type: string
        id:
          description: The unique ID of the assignment.
          format: uuid
          type: string
        platform_ref:
          description: A direct URL to the asset in the Censys platform.
          type: string
        tag_id:
          description: The ID of the tag.
          format: uuid
          type: string
      required:
      - id
      - tag_id
      - asset_id
      - asset_type
      - platform_ref
      - created_at
      - created_by
      type: object
    UpdateCommentInputBody:
      additionalProperties: false
      properties:
        body:
          description: The updated comment body text.
          maxLength: 10000
          minLength: 1
          type: string
      required:
      - body
      type: object
    TagAssignmentsList:
      additionalProperties: false
      properties:
        assignments:
          description: The list of tag assignments.
          items:
            $ref: '#/components/schemas/TagAssignment'
          type:
          - array
          - 'null'
        next_page_token:
          description: Token to retrieve the next page of results. Omitted when there are no more results.
          type: string
        total_size:
          description: Total number of assignments matching the filters.
          format: int64
          type: integer
      required:
      - assignments
      - total_size
      type: object
    AuthenticationErrorDetail:
      additionalProperties: false
      properties:
        code:
          description: HTTP status code
          examples:
          - 401
          format: int64
          type: integer
        message:
          description: Human-readable message describing the error occurrence
          examples:
          - Access credentials are invalid
          type: string
        reason:
          description: Human-readable explanation of the underlying cause of the error
          examples:
          - Access token is not active
          type: string
        request:
          type: string
        status:
          description: HTTP status message associated with the error
          examples:
          - Unauthorized
          type: string
      type: object
    AuthenticationError:
      additionalProperties: false
      properties:
        error:
          $ref: '#/components/schemas/AuthenticationErrorDetail'
          description: Detailed information about the authentication error
      type: object
    CommentsList:
      additionalProperties: false
      properties:
        comments:
          description: The list of comments.
          items:
            $ref: '#/components/schemas/Comment'
          type:
          - array
          - 'null'
        next_page_token:
          description: Token to retrieve the next page of results. Omitted when there are no more results.
          type: string
        total_size:
          description: Total number of comments matching the filters.
          format: int64
          type: integer
      required:
      - comments
      - total_size
      type: object
    Comment:
      additionalProperties: false
      properties:
        asset_id:
          description: The identifier of the commented asset (host IP, certificate SHA-256 fingerprint, or web property domain/IP:port).
          type: string
        asset_type:
          description: The inferred type of the asset.
          enum:
          - host
          - certificate
          - web_property
          - unknown
          type: string
        body:
          description: The comment body text.
          type: string
        created_at:
          description: RFC3339 timestamp when the comment was created.
          format: date-time
          type: string
        created_by:
          description: The user ID of the user who created the comment.
          format: uuid
          type: string
        id:
          description: The unique ID of the comment.
          format: uuid
          type: string
        platform_ref:
          description: A direct URL to the asset in the Censys platform.
          type: string
        updated_at:
          description: RFC3339 timestamp when the comment was last updated.
          format: date-time
          type: string
      required:
      - id
      - asset_id
      - asset_type
      - platform_ref
      - body
      - created_at
      - updated_at
      - created_by
      type: object
    ResponseEnvelopeTagsList:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/TagsList'
      type: object
    TagsList:
      additionalProperties: false
      properties:
        next_page_token:
          description: Token to retrieve the next page of results. Omitted when there are no more results.
          type: string
        tags:
          description: The list of tags.
          items:
            $ref: '#/components/schemas/Tag'
          type:
          - array
          - 'null'
        total_size:
          description: Total number of tags visible to the caller in this organization.
          format: int64
          type: integer
      required:
      - tags
      - total_size
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type:
          - array
          - 'null'
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    CreateTagAssignmentInputBody:
      additionalProperties: false
      properties:
        asset_id:
          description: The identifier of the asset (host IP, certificate SHA-256 fingerprint, or web property hostname:port).
          examples:
          - 8.8.8.8
          - 3daf2843a77b6f4e6af43cd9b6f6746053b8c928e056e8a724808db8905a94cf
          - platform.censys.io:443
          type: string
      required:
      - asset_id
      type: object
  securitySchemes:
    PersonalAccessToken:
      description: Your Censys personal access token.
      scheme: bearer
      type: http
x-speakeasy-globals:
  parameters:
  - in: header
    name: X-Organization-ID
    schema:
      type: string
    x-speakeasy-globals-hidden: true
